i {
    font-size: '2rem';
    margin-left: '-6px';
    margin-top: '-6px';
}

.cardWidth{
    width: '50vw'
}


@media only screen and (max-width: 600px) {
    .cardWidth{
        width: '90vw'
    }
  }

  .petDetailInput {
    width: 20%;
    border: 1px solid grey;
    box-shadow: 0 0 0 1px #888888, 0 2 4 1px  #888888;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgba (0 , 0 , 0 , 0.73);
}

.petDetailInput  input {
    width: 100%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgba (0 , 0 , 0 , 0.73);
    padding: 10px, 5px;
    box-sizing: border-box;
    outline: none;
    height: 40px;
}